@font-face {
  font-family: "PT Sans";
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format(woff2);
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format(woff2);
  font-weight: 700;
  font-display: swap;
}

body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  color: #333333;
  background: #f2f2f2;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.page-header {
}

.logo-link {
}

.logo-image {
}

.navigation {
}

.menu-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.menu-item {
}

.menu-link {
  font-weight: 700;
  font-family: PT Sans;
  font-style: Bold;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}

.user-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.user-item {
}

.user-link {
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.favorite-count {
}

.main {
}

.welcome {
}

.welcome-text {
}

.advantages-section {
}

.advantages-header {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-description {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.advantages {
}

.advantages-content {
  width: 400px;
  background: #82b3d3;
  color: #ffffff;
  padding: 102px 85px 0;
}

.advantages-item {
}

.advantages-title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 33px;
  margin-bottom: 29px;
  position: relative;
  color: #ffffff;
}

.advantages-text {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  width: 230px;
  height: 63px;
}

.advantages-image {
}

.service-sec {
}

.service-header {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.service-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.service-list {
}

.service-item {
}

.service-title {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.service-text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

.hotel-sec {
}

.hotel-head {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.hotel-text {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.hotel-link {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-page {
  color: #ffffff;
}

.subscription {
}

.subscription-header {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.subscription-text {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.subscription-form {
}

.field {
}

.subscription-button {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}

.footer-contact {
}

.link-list {
}

.link-item {
}

.link-vk {
}

.link-tg {
}

.link-youtube {
}

.contact-number {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.academy-link {
}

.modal {
}

.modal-window {
}

.modal-title {
}

.modal-close {
}

.modal-form {
}

.modal-label {
}

.modal-date {
}

.error-message {
}

.message {
}

.decrease-but {
}

.value-inp {
}

.increase-but {
}

.find-but {
}

/* Ниже идет catalog */

.main-catalog {
}

.sedona-hotels {
}

.page-header {
}

.button-nav {
}

.nav-list {
}

.home-item {
}

.home-button {
}

.infrastructure-group {
}

.filter-infra {
}

.infrastructure-title {
}

.infrastructure-list {
}

.infrastructure-item {
}

.swim-box {
}

.checkbox-label {
}

.park-box {
}

.wifi-box {
}

.filter-house {
}

.catalog-title {
}

.house-list {
}

.house-items {
}

.house-box {
}

.checkbox-lbl {
}

.motel-box {
}

.appart-box {
}

.filter-items-group {
}

.items-title {
}

.price-min-value {
}

.price-label {
}

.price-max-value {
}

.range-container {
}

.range-scale {
}

.range {
}

.range-handle-min {
}

.range-handle-max {
}

.button {
}

.search-results {
}

.select-title {
}

.search-control {
}

.cheap {
}

.popular {
}

.expensive {
}

.button-link {
}

.hetel-search {
}

.hotel-list {
}

.hotel-item {
}

.hotel-link {
}

.hotel-img {
}

.hotel-header {
}

.card-price {
}

.price-hotel {
}

.price-value {
}

.cards-sellect {
}

.about {
}

.btn-favorite {
}

.stars-four {
}

.hotel-rating {
}

.pagination {
}

.pagination-item {
}

.pagination-link-first {
}

.pagination-link {
}
